/*--------------------------------------------------------------
# Global Styles & CSS Variables
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }

:root {
    --brandredorange: #FE595F;
    --brandorange: #FC642D;
}

/*--------------------------------------------------------------
# Eric Meyer CSS Reset
--------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/* Nav Bar */

.navbar {
    display: grid;
    place-items: center;
    grid-gap: 20px;
}

.nav-img {
    height: auto;
    width: 25%;
    padding-top: 20px;
}

.nav-header {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.nav-menu {
    height: 20vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    padding: 6px 0;
    border: 1px solid #000;
}

.nav-menu li {
    padding: 6px 30px;
}

.nav-menu li:hover {
    background-color: #F4F5F6;
}

.nav-link,
.nav-link-sub {
    display: block;
    color: #000000;
    text-decoration: none;
}

.nav-link-sub {
    font-size: 0.75rem;
    padding-left: 1.5rem;
}

/* Main */

em, strong, ol, ul {
    all: revert;
}

.main-doc {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: main;
    grid-gap: 20px;
    padding: 20px;
    line-height: 1.25;
    max-width: 50rem;
}

.main-doc p {
    padding: 0.5rem 0;
}

header {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
}

.sub-header {
    font-family: 'Raleway', sans-serif;
}

.code-block-header  {
    font-weight: bold;
    padding: 0 !important;
}

code {
    display: block;
    font-family: monospace;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.25;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    max-width: 40rem;
  }

  .inline-code {
    font-family: monospace;
    padding: 0.2rem 0.4rem;
    margin: 0;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 6px;
  }

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: footer;
    height: 50px;
    max-width: 50rem;
}

.footer-separator {
    align-self: start;
    border: 2px solid var(--brandredorange);
    width: 300px;
}

.signature {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0.5rem 0 1rem;
}

.signature a {
    color: var(--brandredorange);
    font-weight: bold;
    text-decoration: none;
}

.signature a:hover {
    color: var(--brandorange);
    text-decoration: underline;
}

/*--------------------------------------------------------------
# Media Breakpoints
--------------------------------------------------------------*/

/* Tablet */

    @media (min-width: 760px) { 

        body {
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-template-areas: 
            "navbar main"
            "empty footer";
        }

        /* Nav Bar */

        .navbar {
            display: grid;
            grid-template-rows: 1fr 1fr 24fr;
            grid-template-areas: 
            "img"
            "header"
            "menu";
            place-items: start center;
            grid-gap: 15px;
            position: fixed;
            height: 100vh;
            width: 250px;
            border-right: 1px solid #000;
        }

        .nav-img {
            width: 40%;
            grid-area: img;
        }

        .nav-header {
            grid-area: header;
            padding: 0 2rem;
            text-align: center;
        }

        .nav-menu {
            grid-area: menu;
            height: auto;
            border: none;
            border-top: 1px solid #000;
        }

        .nav-link {
            font-size: 1.25rem;
        }

        .nav-link-sub {
            font-size: 1.15rem;
            padding-left: 0.75rem;
        }

    }

 /* Large Tablet */
 
    @media (min-width: 1000px) {

        body {
            grid-template-columns: 300px 1fr;
        }

        /* Navbar */
        .navbar {
            width: 300px;
        }
    }